logoutput: syslog
user.privileged: root
user.unprivileged: nobody

# The listening network interface or address.
internal: {{ dante_proxy_internal }} port={{ dante_proxy_port }}

# The proxying network interface or address.
external: eth0

# socks-rules determine what is proxied through the external interface.
socksmethod: {{ dante_socksmethod }}

# client-rules determine who can connect to the internal interface.
clientmethod: none

client pass {
    from: {{ dante_pass_from }} to: {{ dante_pass_to }}
}

socks pass {
    from: {{ dante_pass_from }} to: {{ dante_pass_to }}
}
